.functionItems {
  /* background-color: aquamarine; */
  /* display: flex; */

  /* justify-content:  space-evenly ; */

  text-align: left;
}
.listGrid {
  display: grid;
  grid-template-columns: auto 11em 16em 4em 2em auto;
}

.functionLabel {
  margin-right: 1em;
  grid-column-start: 2;

  border: none;
  background-color: white;
  color: crimson;
}

.nonfunctionLabel {
  margin-right: 1em;
  grid-column-start: 2;
  border: none;
  background-color: white;
  color: rgb(5, 117, 65);
}
.inputWrapper {

  flex-direction: column;
  
}
.tooDeep {
text-align: center;
font-size: 0.7em;
color: rgb(233, 136, 8);
}

.runBtnGreen {
  border: rgba(0, 0, 0, 0.068) 0.1em solid;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  color: rgb(180, 180, 180);
  grid-column-start: 4;
  grid-column-end: 5;
  width: 3.5em;
  justify-self: end;
  height: auto;
}
.runBtnGreen:hover {
  border: rgb(255, 255, 255) 0.1em solid;
  background-color: rgb(46, 46, 46);
  cursor: pointer;
  color: white;
}


.functionCallBtn {
  border: rgb(1, 145, 89) 0.1em solid;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  color: rgb(1, 145, 89);
  padding: 0.6em;
  width: 24em;
}

.functionCallBtn:hover {
  border: rgb(255, 255, 255) 0.1em solid;
  background-color: rgb(1, 145, 89);
  cursor: pointer;
  color: white;
}

.freeFunctionCallBtn {
  border: rgb(228, 3, 3) 0.1em solid;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  color: rgb(228, 3, 3);
  padding: 0.6em;
  width: 24em;
}

.freeFunctionCallBtn:hover {
  border: rgb(255, 255, 255) 0.1em solid;
  background-color: rgb(228, 3, 3);
  cursor: pointer;
  color: white;
}
