.refresh {
    height: 2em;
    margin-top: 0.2em;
    margin-right: 0.2em;
  }
  
  .refreshBtn {
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .refreshBtn:hover {
    background-color: white;
  }
  
  .refreshBtn .refresh {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
  }

  .refreshBtn:hover .refresh {
    transform: rotate(-60deg) scale(1.2);
  }