.experimental {
  margin-top: 15em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
}

.buyCoffeBtn {
  /* background-color: none; */
  background: none;
  border: none;
  font-size: 1em;

  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}

.buyCoffeBtn p {
  color: rgb(29, 19, 19);
  font-weight: 300;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 0.1em;
}

.buyCoffeBtn:hover {
  cursor: pointer;
}

.buyCoffeBtn:focus {
  outline: none;
}

.buyCoffeBtn p .trx {
  color: rgb(255, 17, 17);
  font-weight: 300;
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 0.1em;
}

.cupIcon {
  height: 1em;
  margin-right: 0.3em;
}
